@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: transparent;
}
html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  display: flex;
  color: #ebe7ef;
  background: linear-gradient(360deg, #040b10, #080308, #040408, #040408);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

#backround {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-image: url(./imgs/1234.avif);
  background-size: cover;
  z-index: -1;
  filter: brightness(0.2);
}

.container {
  height: 100vh;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 3rem 0 0;
}
.container1 h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 30%;
  color: #212529;
}

#examples {
  margin: 1rem auto;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: #4d54580b;
  color: #6a7175;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: #1f1f1f55;
  font-weight: 500;
  font-size: 1.1rem;
  color: #ebe7ef;
  transition: 0.5s;
}

#examples menu button.active {
  background-color: #1f1f1f55;
  font-weight: 600;
  color: #ddcfc2;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15rem;
}

#tab-content {
  margin: 2rem 2rem 2rem 2rem;
  padding: 1.5rem;
  border-radius: 6px;
  color: #b1aaa6;
  background-color: #2828282f;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}
